::-webkit-scrollbar {
    width: 5px;
    padding:0.5rem
}
  
::-webkit-scrollbar-track {
    background: #9D9D9D; 
    

}

::-webkit-scrollbar-thumb {
    background: #EE684B; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #bd563e; 
}

#avatar{
    position:absolute;
    display: block;
    margin:auto;
    top:-200px;
    right:80px;
    margin-top:0px; 
    width: 350px;
    height: 350px;
    z-index:2;
    background: #E86C45;
    border-radius: 70% 85% 75% 95% / 70% 80% 90% 85%;
    animation-name: avatar;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}


#avatarSmall{
    position:relative;
    display: block;
    margin:auto;
    margin-top:-30px; 
    width: 220px;
    height: 220px;
    z-index:2;
    background: #E86C45;
    border-radius: 70% 85% 75% 95% / 70% 80% 90% 85%;
    animation-name: avatar;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

#avatarImg{
    position: absolute; 
    z-index: 3;
    margin: auto;
    top:-220px;
    right:0;
    margin-top:50px;
    animation-name: avatarImg;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

#avatarImgSmall{
    position: relative; 
    z-index: 3;
    width:250px;
    margin: auto;
    margin-top:30px;
    margin-bottom:-100px;
    animation-name: avatarImg;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes avatar {
    0%   { 
        border-radius: 70% 85% 75% 95% / 70% 80% 90% 85%;
    }
    25%  { 
        border-radius: 90% 80% 85% 90% / 80% 90% 70% 80%;
    }
    50%  { 
        border-radius: 90% 85% 75% 80% / 75% 85% 75% 90%;
    }
    75%  { 
        border-radius:  90% 80% 85% 90% / 80% 90% 70% 80%;
    }
    100% { 
        border-radius: 70% 85% 75% 95% / 70% 80% 90% 85%;
    }
}

@keyframes avatarImg {
    0%   { 
        margin-top:30px
    }
    50%  { 
        margin-top:0px; 
    }
    100% { 
        margin-top:30px; 
    
    }
}

/* PRELOADER */
.loadingScreen{
    width:100vW;
    height:100vH;
    background:#0F143E;
    color: white;
    overflow:hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper{
    width:200px;
    left:50%;
    top:40%;
    position: absolute;
    transform: translate(-50%, -50%);
}
.circle{
    width:20px;
    height:20px;
    position: absolute;
    border-radius: 50%;
    background-color: #E86C45;
    left:15%;
    transform-origin: 50%;
    animation: circle .5s alternate infinite ease;
}

@keyframes circle{
    0%{
        top:60px;
        height:5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }
    40%{
        height:20px;
        border-radius: 50%;
        transform: scaleX(1);
    }
    100%{
        top:0%;
    }
}
.circle:nth-child(2){
    left:45%;
    animation-delay: .2s;
}
.circle:nth-child(3){
    left:auto;
    right:15%;
    animation-delay: .3s;
}
.shadow{
    width:20px;
    height:4px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top:62px;
    transform-origin: 50%;
    z-index: -1;
    left:15%;
    filter: blur(1px);
    animation: shadow .5s alternate infinite ease;
}

@keyframes shadow{
    0%{
        transform: scaleX(1.5);
    }
    40%{
        transform: scaleX(1);
        opacity: .7;
    }
    100%{
        transform: scaleX(.2);
        opacity: .4;
    }
}
.shadow:nth-child(4){
    left: 45%;
    animation-delay: .2s
}
.shadow:nth-child(5){
    left:auto;
    right:15%;
    animation-delay: .3s;
}
.wrapper span{
    position: absolute;
    top:75px;
    width:150px;
    font-size: 1.25rem;
    letter-spacing: 2px;
    color: #282A33;
    text-align: center;
    font-family: 'Epilogue', sans-serif;
    left:15%;
}

.postHeader {
    font-family: 'Epilogue', sans-serif;
    font-size:24px;
    margin: 10px 0;
    font-weight: bold;
    color: ""
    /* background: -webkit-linear-gradient(#5A4BE5, #DD34BD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.typing {
    position: relative;
}

.typing::after {
    content: "|";
    position: absolute;
    right: 0;
    height:60px;
    margin-top:-2px;
    width: 100%;
    color: white;
    background: #171717;
    animation: typing 4s steps(16) forwards,
      caret 1s infinite;
  }
  
  @keyframes typing {
      to { width: 0 }
  }
  
  @keyframes caret {
      50% { color: transparent }
  }

  .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

  .headerImg {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    width: 100%;
    margin:auto;
  }

  .border {
    text-align:center;
    opacity:0.8;
    padding-bottom:5px;
    background: 
        linear-gradient(to bottom right, #EE684B, #EE684B)
        left 
        bottom
        no-repeat; 
    background-size:100% 0;
    transition:0.5s;
  }

  .border:hover {
    opacity:1;
    background-size:100% 2px
  }